.container{
  width: 100%;
  height: 95%;
  display: grid;
  grid-template-rows: 3fr 8fr 1fr;
}

.title{
  color: white;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  align-self: center;
}

.form{
  margin: 0 auto;
  width: 950px;
  /* padding: 150px 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  /* background-color: aqua; */
  position: relative;
}

.sub{
  text-align: center;
  align-self: center;
}

.link{
  color: #394ae8;
  cursor: pointer;
}

