.answers{
  padding: 0 100px;
  /* background-color: bisque; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.option{
  width: calc(325px * 1.2);
  height: calc(135px * 1.2);
  padding: 0 30px;
  border-radius: 24px;

  background-color: #A639FB;

  box-shadow: 0px 0px 8px 5px #BC77F2;
  transition: box-shadow .2s, background-color .2s;
}

.option:hover{
  background-color: #A639FB;
  box-shadow: 0px 0px 40px 20px #BC77F2;
}